<ion-content>
    <h1>User registration</h1>
    <div class="list list-inset">        
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="registerData.username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Password" ng-model="registerData.password">
        </label>
    </div>
    <button class="button button-block button-positive" ng-click="register()">
        Register
    </button>    

</ion-content>