<ion-view view-title="Instagram">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="text" ng-model="user.password">
            </label>
        </div>
        <button class="button button-block button-assertive" ng-click="register()">
            Register
        </button>
    </ion-content>
</ion-view>