<ion-view cache-view="false" view-title="{{loggedUser.username}}">
    <ion-nav-buttons side="right">
        <button ng-click="toLogin()" class="button button-possitive">
            Sign Out
        </button>
    </ion-nav-buttons>
    <ion-content ng-init="executeHttp()">
      <br />
    <div class="row rowBorder">
        <div class="profilePicture">
            <img ng-src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/10502074_10153145101446416_4071352603442079179_n.jpg?oh=72e67ed294c0bbb6c1bc585be5bf2c1b&oe=58654897" width="90" height="90">
        </div>
        <div class="profileSumUp alignCenter">
            <ion-item class="profileNumber"><b>53</b><br />posts</ion-item>
            <ion-item class="profileNumber" href="#/tab/users/5/followers"><b>81</b><br />followers</ion-item>
            <ion-item class="profileNumber" href="#/tab/users/5/following"><b>91</b><br />following</ion-item><br /><br /><br />
            <button class="editButton" ng-click="executeHttp()">EDIT YOUR PROFILE</button>
        </div>
    </div>

      <div class="row rowBorder">
          <div class="col alignCenter">
              <a href="" class="button button-icon" ng-click="picture_view=0">
                  <i class="icon ion-grid" ng-if="picture_view!=0"></i>
                  <i class="icon ion-grid iconActive" ng-if="picture_view==0"></i>

              </a>
          </div><div class="col alignCenter">
                    <a href="" class="button button-icon" ng-click="picture_view=1">
                        <i class="icon ion-navicon" ng-if="picture_view!=1"></i>
                        <i class="icon ion-navicon iconActive" ng-if="picture_view==1"></i>

                    </a>
</div><div class="col alignCenter">
          <a href="" class="button button-icon" ng-click="picture_view=2">
              <i class="icon ion-android-pin"></i>

          </a>
</div><div class="col alignCenter">
          <a href="" class="button button-icon" ng-click="picture_view=3">
              <i class="icon ion-ios-briefcase-outline"></i>

          </a>
</div>

</div>
      <div ng-if="picture_view==0">
          <div class="row" ng-repeat="picture in pictures" ng-if="$index % 3 === 0">
              <div class="col col-33 colNoPadding" ng-if="$index < pictures.length">
                  <a href="#/tab/users/5/{{pictures[$index].id}}"><img ng-src="{{pictures[$index].pic}}" width="100%" /></a>
</div>
              <div class="col col-33 colNoPadding" ng-if="$index + 1 < pictures.length">
                  <a href="#/tab/users/5/{{pictures[$index + 1].id}}"><img ng-src="{{pictures[$index + 1].pic}}" width="100%" /></a>
</div>
              <div class="col col-33 colNoPadding" ng-if="$index + 2 < pictures.length">
                  <a href="#/tab/users/5/{{pictures[$index + 2].id}}"><img ng-src="{{pictures[$index + 2].pic}}" width="100%" /></a>
</div>
          </div>
      </div>
      <div ng-if="picture_view==1">
          <!--<div ng-repeat="picture in pictures">
              <ion-item href="#/tab/users/{{picture.userId}}" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                  <img ng-src="{{picture.face}}">
                  <h2><b>{{picture.username}}</b></h2>
                  <i class="icon ion-android-more-vertical"></i>
              </ion-item>
              <ion-item class="item item-image">
                  <img ng-src="{{picture.pic}}">
              </ion-item>
              <ion-item>
                  <a href="" class="button button-icon" ng-click="like({{picture.id}});"><i class="icon ion-android-favorite-outline under_picture_icon"></i></a><a href="" class="button button-icon" ng-click="toggleComBox()"><i class="icon ion-ios-chatbubble-outline under_picture_icon"></i></a>

                  <p>
                      <div ng-hide="comhide" class="comBox">
                          <input style="float: left;" type="text" placeholder="Write a comment..." onfocus="if (this.value == 'Write a comment...') { this.value = ''; }" data-ng-model="comment.text" />
                          <button style="float: right;" class="sendButton" ng-click="sendComment({{picture.id}});">></button>
                          
                      </div>

                      <div ng-if="picture.likes.length > 0">
                          <i class="icon ion-android-favorite"></i> <b>{{picture.likes}}</b>
                      </div>

                      <b>{{picture.username}}</b> {{picture.caption}}
                      <div ng-if="picture.comments.length > 0" ng-repeat="comment in picture.comments"><b>damien</b> {{comment}}<br /></div>
                  </p>
              </ion-item>
          </div>-->
          {{loggedUser.id}}
          <div ng-repeat="picture in items">
              <div ng-if="picture.userId === loggedUser.id">
                  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                      <img ng-src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/10502074_10153145101446416_4071352603442079179_n.jpg?oh=72e67ed294c0bbb6c1bc585be5bf2c1b&oe=58654897">
                      <h2><b>{{loggedUser.username}}</b></h2>
                      {{picture.userId}}
                      <i class="icon ion-android-more-vertical"></i>
                  </ion-item>
                  <ion-item class="item item-image">
                      <img ng-src="{{picture.pic}}">
                  </ion-item>
                  <ion-item>
                      <i class="icon ion-android-favorite-outline under_picture_icon"></i><i class="icon ion-ios-chatbubble-outline under_picture_icon"></i><i class="icon ion-ios-redo-outline under_picture_icon"></i>
                  </ion-item>
                  <p>
                      <i class="icon ion-android-favorite"></i> <b>{{picture.likes}} likes</b>
                      <br />
                      <b>{{loggedUser.username}}</b> {{picture.caption}}
                  </p>
              </div>
          </div>
      </div>

    <ion-list>
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    </ion-list>
  </ion-content>
</ion-view>
