<ion-view view-title="Photo">
    <ion-content>
        
        <button class="button" ng-click="takePicture()">Take Picture</button>
        <button class="button" ng-click="getPicture()">Open Gallery</button>
        
            <ion-item class="item item-image">
                <img ng-src="{{picture}}">
            </ion-item>
        <div class="comBox">
            <input style="float: left;" type="text" placeholder="Write a caption..." onfocus="if (this.value == 'Write a caption...') { this.value = ''; }" data-ng-model="caption.text" />
            <button style="float: right;" class="sendButton" ng-click="sendPicture()">></button>
</div>
        <!--<button class="button button-block button-positive" ng-click="uploadPhoto()">
            Upload
        </button>-->
      
    </ion-content>
</ion-view>
